<ion-view view-title="viewer">

    <h1>Viewer</h1>
    <!--<ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">-->

    <!--<ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">-->
        <!--<div style="width: 5000px; height: 5000px;-->
        <!--background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>-->


        <div class="zoom_view" id="controls">
        <a class="zoom_in"></a>
        <a class="zoom_out"></a>
        <a class="full_view"></a>
        </div>

        <div id='actual_size' class="next_prev_wrap">
        <a class="actual_view"></a>
        </div>



        <div id="iv-boundary" class="iv-boundary">
        <div class="show-metadata"></div>
        </div>
        </div>

    <!--</ion-scroll>-->



    <!--<div class="zoom_view" id="controls">-->
                <!--<a class="zoom_in"></a>-->
                <!--<a class="zoom_out"></a>-->
                <!--<a class="full_view"></a>-->
            <!--</div>-->

            <!--<div id='actual_size' class="next_prev_wrap">-->
                <!--<a class="actual_view"></a>-->
            <!--</div>-->
            <!--<div id="iv-boundary" class="iv-boundary">-->
                <!--<div class="show-metadata"></div>-->
            <!--</div>-->
        <!--</div>-->



    <!--</ion-scroll>-->


</ion-view>
